.home {

    section {
        @include md {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        @include lg {
            width: 80%;
        }

        @include xxl {
            width: 70%;
        }
    }

    p {
        padding: 8px;
    }

    &__services {

        background-color: $section-color;


        margin-bottom: 40px;

        @include md {
            margin: 100px auto 50px;
            height: 500px;
        }

        @include lg {
            height: 400px;
        }

        @include xxl {
            height: 350px;
        }

        p {
            max-width: 90ch;
        }


        .quote {
            @include md {
                max-width: 30ch;
                margin-left: auto;
            }

            @include xxl {
                margin-left: 30vw;
            }
        }

        img {
            display: block;
            margin: 0 auto;

            @include md {
                float: left;
                position: relative;
                bottom: 100px;
                right: 25px;
            }
        }

        @include headings {
            padding: 8px;

            @include md {
                padding: 0;
                position: relative;
                left: 420px;
                bottom: 60px;
            }
        }

        .button {
            height: fit-content;
        }
    }

    .cta {
        width: 100%;
        height: 300px;
        background-image: url("../../Images/Home-main.jpg");

        h1,
        a {
            margin-top: 120px;
        }

        h1 {
            margin-left: 3%;

            @include lg {
                margin-left: 10%;
            }

            @include xxl {
                margin-left: 15%;
            }
        }

        a {
            margin-right: 3%;

            @include lg {
                margin-right: 10%;
            }

            @include xxl {
                margin-right: 15%;
            }
        }
    }

    &__gallery {

        margin: 0 auto;
        position: relative;

        @include md {
            margin: 0 auto;
        }

        @include xxl {
            width: 80%;
        }

        img {
            display: block;
            width: 100%;
            max-width: 400px;
            height: auto;
            margin: 0 auto;

            @include md {
                float: right;
                margin: 0;
                position: relative;
                bottom: 150px;
            }
        }

        p {
            max-width: 30ch;
        }

        .button {
            margin: 20px auto;

            @include md {
                position: absolute;
                bottom: 200px;
            }
        }
    }

    &__carousel {
        margin: 40px auto;

        img {
            width: 100%;
        }
    }
}