$button-color: #CB8950;
$button-hovered: #f8a862;

$nav-hovered: #fed136;

$section-color: rgba(203, 137, 80, 0.4);

$font-color: #126D7B;
$header-color: #000000;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

$navbar-height: 90px;