@import "variables";
@import "mixins";
@import "header";
@import "main";
@import "services";
@import "gallery";

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url("../../Images/Abalone-texture.jpg");
}

main {
    margin-top: $navbar-height;
}

// clearfix Hack
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@include headings {
    color: $header-color;
    font-family: "meno-banner", sans-serif;
}

p {
    color: $font-color;
    font-family: "Nord, serif";
}

.button {
    background-color: $button-color;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 10px 40px;
    border-radius: 20px;

    &:hover,
    &:focus-visible {
        background-color: $button-hovered;
    }
}

.quote {
    font-weight: bold;
}

.cta {
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    justify-content: space-between;

    h1 {
        color: white;
        margin-left: 3%;
        font-style: italic;
        font-weight: bold;
        font-family: "meno-banner", serif;
    }
}

.carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;

    &-container {
        display: none;
    }

    &-back,
    &-forward {
        cursor: pointer;
        position: absolute;
        top: 48%;
        width: auto;
        margin-top: -23px;
        padding: 17px;
        color: grey;
        font-weight: bold;
        font-size: 19px;
        transition: 0.4s ease;
        border-radius: 0 5px 5px 0;
        user-select: none;

        &:hover,
        &:focus-visible {
            background-color: black;
        }
    }

    &-forward {
        right: 0;
        border-radius: 4px 0 0 4px;
    }

}

.centered {
    margin: 0 auto;
}