.home {

    &__services {

        background-color: $section-color;

        margin-bottom: 40px;

        @include md {
            width: 90%;
            margin: 100px auto 50px;
            height: 300px;
        }

        img {
            display: block;
            margin: 0 auto;

            @include md {
                float: left;
                position: relative;
                bottom: 100px;
                right: 25px;
            }
        }

        @include headings {
            @include md {
                position: relative;
                left: 420px;
                bottom: 60px;
            }
        }
    }

    .cta {
        height: 300px;
        background-image: url("../Images/Home-main.jpg");

        h1, a {
            margin-top: 120px;
        }
    }

    &__gallery {

        width: 90%;
        margin: 0 auto;
        position: relative;

        @include md {
            margin: 0 auto;
        }

        img {
            display: block;
            width: 100%;
            max-width: 400px;
            height: auto;
            margin: 0 auto;

            @include md {
                float: right;
                margin: 0;
                position: relative;
                bottom: 150px;
            }
        }

        p {
            max-width: 30ch;
        }
        .button {
            margin:20px auto;

            @include md {
                position: absolute;
                bottom:200px;
            }
        }
    }

    &__carousel {
        width: 90%;
        margin: 40px auto;

        img {
            width: 100%;
        }
    }
}