.services {

    .packages {
        @include xl {
            width: 90%;
            margin: 0 auto;
        }

        @include xxl {
            width: 80%;
        }
    }

    section {
        background-color: $section-color;
        width: 100%;

        @include lg {
            width: 95%;
        }


        p {
            max-width: 50ch;
        }
    }

    .cta {
        width: 100%;
        height: 300px;
        background-image: url("../Images/Abalone-services-1.jpg");
        background-size: cover;
        background-position: center;

        @include md {
            height: 400px;
        }

        @include xl {
            height: 500px;
        }

        h1,
        a {
            margin-top: 100px;

            @include md {
                margin-top: 170px;
            }

            @include xl {
                margin-top: 220px;
            }
        }
    }

    &__family,
    &__couples {

        margin: 50px 0;

        @include lg {
            margin: 100px 0 50px;
            height: 300px;
        }

        img {
            display: block;
            margin: 25px auto;

            @include lg {
                margin: 0 auto;
                float: left;
                position: relative;
                width: 30%;
                min-width: 400px;
                max-width: 500px;
                bottom: 100px;
                left: 50px;
            }

            @include xxl {
                bottom: 125px;
            }
        }

        @include headings {
            text-align: center;

            @include lg {
                text-align: left;
                position: relative;
                left: 50vw;
                bottom: 65px;
            }
        }

        p {
            margin-left: 5px;
            max-width: 80ch;

            @include lg {
                margin-left: 500px;
            }

            @include xxl {
                margin-left: 600px;
            }
        }
    }

    &__individual,
    &__events {

        margin: 50px 0;

        @include lg {
            margin: 100px 0 50px;
            height: 300px;
        }

        img {
            display: block;
            margin: 25px auto;

            @include lg {
                margin: 0 auto;
                float: right;
                position: relative;
                width: 30%;
                min-width: 400px;
                max-width: 500px;
                bottom: 100px;
                right: 50px;
            }

            @include xxl {
                bottom: 125px;
            }
        }

        @include headings {
            text-align: center;

            @include lg {
                text-align: left;
                position: relative;
                left: 10vw;
                bottom: 65px;
            }
        }

        p {
            margin-left: 25px;
            max-width: 80ch;

            @include lg {
                margin-left: 100px;
            }
        }
    }
}