.services {
    section {
        background-color: $section-color;
    }

    .cta {
        height: 500px;
        color: white;
        background-image: url("../Images/Abalone-services-1.jpg");
        background-position: center;
    }
}