.services {
    section {
        background-color: $section-color;
    }

    .cta {
        height: 500px;
        background-image: url("../Images/Abalone-services-1.jpg");
        background-position: center;

        h1, a {
            margin-top: 220px;
        }
    }
}