.home__services {
  background-color: rgba(203, 137, 80, 0.4);
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .home__services {
    width: 90%;
    margin: 100px auto 50px;
    height: 300px;
  }
}
.home__services img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .home__services img {
    float: left;
    position: relative;
    bottom: 100px;
    right: 25px;
  }
}
@media (min-width: 768px) {
  .home__services h1, .home__services h2, .home__services h3,
.home__services h4, .home__services h5, .home__services h6 {
    position: relative;
    left: 390px;
    bottom: 35px;
  }
}
.home .cta {
  height: 300px;
  background-image: url("../Images/Home-main.jpg");
}
.home .cta h1, .home .cta a {
  margin-top: 120px;
}
.home__gallery {
  width: 90%;
  margin: 0 auto;
}
.home__gallery img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .home__gallery img {
    float: right;
    margin: 0;
    position: relative;
    bottom: 150px;
  }
}
.home__gallery p {
  max-width: 30ch;
}
.home__gallery .button {
  margin: 20px auto;
}
@media (min-width: 768px) {
  .home__gallery .button {
    margin: 20px 0;
  }
}
.home__carousel {
  width: 90%;
  margin: 40px auto;
}
.home__carousel img {
  width: 100%;
}

.services section {
  background-color: rgba(203, 137, 80, 0.4);
}
.services .cta {
  height: 500px;
  background-image: url("../Images/Abalone-services-1.jpg");
  background-position: center;
}
.services .cta h1, .services .cta a {
  margin-top: 220px;
}
@media (min-width: 768px) {
  .services__family {
    width: 90%;
    margin: 100px 0 50px;
    height: 300px;
  }
}
.services__family img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .services__family img {
    float: left;
    position: relative;
    width: 400px;
    bottom: 100px;
    left: 50px;
  }
}
@media (min-width: 768px) {
  .services__family h1, .services__family h2, .services__family h3,
.services__family h4, .services__family h5, .services__family h6 {
    position: relative;
    left: 600px;
    bottom: 65px;
  }
}
.services__family p {
  margin-left: 500px;
  max-width: 80ch;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3,
h4, h5, h6 {
  color: #000000;
}

p {
  color: #126D7B;
}

.button {
  background-color: #CB8950;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 40px;
  border-radius: 20px;
}
.button:hover, .button:focus-visible {
  background-color: #f8a862;
}

.quote {
  font-weight: bold;
}

.cta {
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
}
.cta h1 {
  color: white;
  margin-left: 3%;
}
.cta a {
  margin-right: 3%;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.carousel-container {
  display: none;
}
.carousel-back, .carousel-forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.carousel-back:hover, .carousel-back:focus-visible, .carousel-forward:hover, .carousel-forward:focus-visible {
  background-color: black;
}
.carousel-forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.centered {
  margin: 0 auto;
}
/*# sourceMappingURL=scssStyles.css.map */