@import "variables";
@import "mixins";
@import "main";
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

// clearfix Hack
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@include headings {
    color: $header-color;
}

p {
    color: $font-color;
}

.button {
    background-color: $button-color;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;

    &:hover, &:focus-visible {
        background-color: $button-hovered;
    }
}